@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

// .loading {
//   width: 100%;
//   //background-color: #ffffff;
//   background-image: url("https://giphy.com/embed/OWxrxRHY6afRu");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

/* <iframe src="https://giphy.com/embed/OWxrxRHY6afRu" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/snow-OWxrxRHY6afRu">via GIPHY</a></p> */
